@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap");

.detail-container {
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.detail-container > h2 {
  font-family: "Tilt Warp", cursive;
  font-size: 4rem;
  margin: 0;
  background: linear-gradient(to right, black, grey, white, grey, black);

  color: black;
  text-shadow: 2px 2px yellow, 2px -2px yellow, -2px 2px yellow,
    -2px -2px yellow;
  text-align: center;
  padding: 8px;
}

table {
  font-family: "Exo 2", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.5rem;
  border-collapse: collapse;
  width: 100%;
}
.character-header {
  text-align: center;
  border-top: 1px solid black;
  color: black;
  font-size: 2rem;
  font-weight: ;
  text-shadow: 1px 1px yellow, 1px -1px yellow, -1px 1px yellow,
    -1px -1px yellow;
  background: linear-gradient(to right, rgb(255, 255, 255), grey, rgb(0, 0, 0), grey, rgb(255, 255, 255));
}
table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(55, 189, 55);
  color: white;
}

@media (max-width: 450px) {
  .detail-container > h2 {
    font-size: 2.5rem;
  }
}
