.filter-container {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 4, 4);
  padding: 15px;
  margin-top: -16px;
}

.filter-container > input {
  border-radius: 8px;
  padding: 4px 200px;
  text-align: center;
}

@media (max-width: 650px) {
  .filter-container > input {
    padding: 8px 70px;
  }
}
