.footer {
  display: grid;
  border-top: 5px solid yellow;
  background: linear-gradient(to right, black, grey, white, grey, black);
  color: rgb(0, 0, 0);
  text-align: center;
 line-height: 0.5rem;
}
